<config>
  
  <datos>
    <train>
      <t1>children_per_woman_total_fertility.csv</t1>
      <t2>female_long_term_unemployment_rate_percent.csv</t2>
      <t3>population_total.csv</t3>
    </train>
    <target>murdered_women_per_100000_people.csv</target>
    <sep>,</sep>
  </datos>
  
  <columnas>
    
    <ID>Country</ID>
    
    <predictorasNumericas>1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
    1999, 2000, 2001, 2002, 2003, 2004</predictorasNumericas>
    
    
    <target>2005</target>
    
  </columnas>
  
  <filas>
    <paises>Australia, Canada, Estonia, France, Japan, New Zealand, Norway, South Korea,
  Sweden, Turkey, United States</paises>
  </filas>
  
</config>