<config>
  
  <datos>
    <train>children_per_woman_total_fertility.csv, female_long_term_unemployment_rate_percent.csv, 
    population_total.csv</train>
    <target>murdered_women_per_100000_people.csv</target>
    <sep>,</sep>
  </datos>
  
  <output>Predicciones.csv</output>
  <testRate>0.2</testRate>

</config>